#page-home {
    height: 100vh;
    background: url('../new/icones/home-background.svg') no-repeat;
    background-position: 35vw bottom;
}
    

#page-home .content {
    width: 90%;
    max-width: 1000px;
    height: 100%;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
}
   
#page-home header {
     margin-top: 45px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 50px;

 }

#page-home .red {
     background-color: var(--title-color) }

 
#page-home header a { 
     display: flex;
     color: var(--title-color);
     font-weight: 700;
 }
#page-home a span {
     display: flex;
     background-image: url('../new/icones/log-in.svg');
     width: 20px;
     height: 20px;
     margin-right: 16px;
 }

#page-home main {
    max-width: 560px;
    
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
#page-home main h2 {
    font-size: 54px;
}

#page-home main p {
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
}

#page-home main a {
    width: 100%;
    max-width: 250px;
    height: 71px;
    border-radius: 7px;
   
    display: flex;
    align-items: center;

    margin-top: 30px;

    background-color: #9077ecbd;
    transition: 400ms;
    
}

#page-home main a:hover {
    background: rgb(36, 160, 160);
}
#page-home main a span{
    width: 72px;
    height: 72px;

    border-radius: 8px;
    border-bottom-left-radius: 8px;

    background: rgba(65, 244, 250, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;


}
#page-home main a span::after {
    content: "";
    background-image: url("../new/icones/search.svg");
    width: 20px;
    height: 20px;
}
#page-home main a strong {
    flex: 1;
    color: rgb(194, 194, 224);
    text-align: center;
}