:root{
    --title-color: #3b287e;
    --primary-color: #287e72;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Chelsea Markt',cursive;
}
/*BOX MODEL
toda caixa tem:
 largura, altura, preenchimentos, 
 espaçamentos, bordas, cor, fundo, maneira que 
 é visível pelo html (display), posicionamento, alinhamento*/

body {
    background: #a6dbd7 ;
    -webkit-font-smoothing: antialiased;}

a{
    text-decoration: none;
}

h1, h2 ,h3 ,h4 ,h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);}