:root{
    --title-color: #3b287e;
}
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Chelsea Markt',cursive;
}
/*BOX MODEL
toda caixa tem:
 largura, altura, preenchimentos, 
 espaçamentos, bordas, cor, fundo, maneira que 
 é visível pelo html (display), posicionamento, alinhamento*/

body {
    background: #a6dbd7 ;
    -webkit-font-smoothing: antialiased;}

a{
    text-decoration: none;
}

h1, h2 ,h3 ,h4 ,h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}

#page-home {
    height: 100vh;
    background: url('../new/icones/home-background.svg') no-repeat;
    background-position: 39vw bottom;}

#page-home .content {
    width: 90%;
    max-width: 1100px;
    height: 100%;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
}
   
 header {
     margin-top: 45px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 50px;

 }

 .red {
     background-color: var(--title-color) }

 
 header a { 
     display: flex;
     color: var(--title-color);
     font-weight: 700;
 }
 a span {
     display: flex;
     background-image: url('../new/icones/log-in.svg');
     width: 20px;
     height: 20px;
     margin-right: 16px;
 }

#page-home main {
    max-width: 560px;
    
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
#page-home main h2 {
    font-size: 54px;
}

#page-home main p {
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
}

#page-home main a {
    width: 100%;
    max-width: 250px;
    height: 71px;
    border-radius: 7px;
   
    display: flex;
    align-items: center;

    margin-top: 30px;

    background-color: #9077ecbd;
    transition: 400ms;
    
}

#page-home main a:hover {
    background: rgb(36, 160, 160);
}
#page-home main a span{
    width: 72px;
    height: 72px;

    border-radius: 8px;
    border-bottom-left-radius: 8px;

    background: rgba(65, 244, 250, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;


}
#page-home main a span::after {
    content: "";
    background-image: url("../new/icones/search.svg");
    width: 20px;
    height: 20px;
}
#page-home main a strong {
    flex: 1;
    color: rgb(36, 36, 83);
    text-align: center;
}
@media (max-width: 900px) {
    #page-home{
        background-position-x: 70vw;
    }
    #page-home .content{
        align-items: center;
        text-align: center;
    }
    #page-home header a {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
    }
    #page-home main {
        align-items: center;
    }
}